{% extends "layout.html" %}
{% block title %}Get to Know Me{% endblock %}

{% block content %}
<section class="w-50-l w-80 center flex flex-column items-center mt4 b--light-gray pa4 ba bw2 br3 b--none-l">
    <img class="w-40 w-20-l br-100" src="{{ url_for('static', filename='img/profile2.png') }}" alt="">

<h1 class="ttu">About me</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, sequi, atque impedit, cum ipsam aliquid iure magni dicta et nostrum vero? Nihil, ut! Officiis dignissimos porro ex illum obcaecati deleniti!</p>
</section>

<section class="w-50-l w-80 center">
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium animi itaque dolorem, harum quas neque esse quis vero nisi! Dolores maxime hic at dolore magnam eveniet esse quo vero?</p>

    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium animi itaque dolorem, harum quas neque esse quis vero nisi! Dolores maxime hic at dolore magnam eveniet esse quo vero?</p>
</section>
{% endblock %}