{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="cover pt4 pb4 pb6-l pt6-l center bg-black">
  <div class="white flex items-center w-70 center">
    <div class="avenir center">

    <h1 class="f1 f2-m f-headline-l measure-narrow lh-title mv0">
      <span class="white pa1 tracked-tight">  Hello I'm Wilton a Web Developer based out Charlotte,NC Area.</span></h1>

    <h2 class="fw1">Lorem Ipsum Dolor Sit Amet
    </h2>
    <a class="white ttu f6 link dim br1 ph3 pv2 dib ba b--white" href="#">Learn more</a>
    </div>
  </div>
</div>

<section class="bg-light-gray pt3">
  <header class="sans-serif">
    <div class="black mw9 center pa4 pt5-ns ph7-l">
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          Too many tools and frameworks
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">The definitive guide to the javascript tooling landscape in 2015.</h4>
    </div>
  </header>
</section>

{% endblock %}
